.divTable{
    display: flex;
    justify-content: center;
}

form{
    display:inline;
}

th, td{
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

#submitBoardUser{
    border-radius: 20%;
    background-color: #6565f1;
}

#submitBoardAnother{
    border-radius: 20%;
    background-color: palegreen;
}

#error{
    color: red;
}
#add{
    background-color: #6565f1;
}
